body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  font-size: 1.3em;
  color: #222;
}


.wrapper {
  width: 50%;
  min-width: 320px;
  margin: 5% auto;
}
.log_titles {
  background-color: #f1f1f1;
  border-radius: 5px 5px 0 0;
}
.log_titles div{
  display: inline-block;
  padding: 1rem;

}

.event {
  border-top: solid 1px lightgray;
  background-color: #fafafa;

}
.event div{
  display: inline-block;
padding: 1rem;
}
.status {
  width: 50%;
}
.header {
  font-size: 80%;
}

ul {
    list-style: none;
}
.status_stamp span {
  margin: 0 5px;
}

.timezone{
  position: relative;
  border-bottom: dotted 1px;
  color: #CCC;

}

.timezone .timezoneTooltip {
    visibility: hidden;
    width: 15em;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    position: absolute;
    border-radius: 4px;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -1em;
    opacity: 0;
    transition: opacity 1s;
    line-height: 2em;
}
.timezone .timezoneTooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;

}
.timezone:hover .timezoneTooltip {
    visibility: visible;
    opacity: 1;
}
